Repository openshift/openshift-ansible-contrib, pull requests merged in 2018-03, with the labels that each got.

#961 Resolve add-node error on aws(#960)
  reference-architecture/aws-ansible/playbooks/node-setup.yaml
Labels: aws

#965 Import script improved & daemonsets included
  reference-architecture/day2ops/scripts/project_export.sh
  reference-architecture/day2ops/scripts/project_import.sh
Labels: day2ops

#970 Rhv examples
  reference-architecture/rhv-ansible/example/inventory.yaml
  reference-architecture/rhv-ansible/example/nsupdate-clean.txt
  reference-architecture/rhv-ansible/example/ocp-vars.yaml
  reference-architecture/rhv-ansible/example/ocp-vars.yaml.35
  reference-architecture/rhv-ansible/example/ocp-vars.yaml.36
  reference-architecture/rhv-ansible/example/ocp-vars.yaml.37
  reference-architecture/rhv-ansible/example/ocp-vars.yaml.39
  reference-architecture/rhv-ansible/example/ocp-vars.yaml.atomic
  reference-architecture/rhv-ansible/example/ocp-vars.yaml.beta
  reference-architecture/rhv-ansible/example/ocp-vars.yaml.cen39
  reference-architecture/rhv-ansible/example/ocp-vars.yaml.centos
  reference-architecture/rhv-ansible/example/onevm-uninstall.yaml
  reference-architecture/rhv-ansible/example/ovirt-37-infra.yaml
  reference-architecture/rhv-ansible/example/ovirt-39-infra.yaml
  reference-architecture/rhv-ansible/example/ovirt-atomic-infra.yaml
  reference-architecture/rhv-ansible/example/ovirt-cen39-infra.yaml
  reference-architecture/rhv-ansible/example/ovirt-centos-infra.yaml
  reference-architecture/rhv-ansible/example/ovirt-image-only.yaml
  reference-architecture/rhv-ansible/example/ovirt-vm-infra.yaml
  reference-architecture/rhv-ansible/example/ovirt-vm-uninstall.yaml
  reference-architecture/rhv-ansible/example/redeploy-39.sh
  reference-architecture/rhv-ansible/example/redeploy.sh
  reference-architecture/rhv-ansible/example/rhsm-subscription.yaml
  reference-architecture/rhv-ansible/example/test-docker-storage.yaml
  reference-architecture/rhv-ansible/example/test-instance-groups.yaml
  reference-architecture/rhv-ansible/example/uninstall.yaml
  reference-architecture/rhv-ansible/example/vars/ovirt-37-vars.yaml
  reference-architecture/rhv-ansible/example/vars/ovirt-39-vars.yaml
  reference-architecture/rhv-ansible/example/vars/ovirt-atomic-vars.yaml
  reference-architecture/rhv-ansible/example/vars/ovirt-cen39-vars.yaml
  reference-architecture/rhv-ansible/example/vars/ovirt-centos-vars.yaml
  reference-architecture/rhv-ansible/example/vars/ovirt-infra-vars.yaml
  reference-architecture/rhv-ansible/example/vars/ovirt-vm-vars.yaml
Labels: rhv

#973 Properly backup sysconfig files
  reference-architecture/day2ops/scripts/backup_master_node.sh
Labels: day2ops
