Repository openshift/openshift-ansible-contrib, pull requests merged in 2018-02, with the labels that each got.

#918 [VMWare, Trivial] Improve readability of required_vars dict
  reference-architecture/vmware-ansible/add-node.py
  reference-architecture/vmware-ansible/ocp-on-vmware.py
Labels: vmware

#933 Fix "Register host" task in rhsm-subscription role
  roles/rhsm-subscription/tasks/main.yaml
Labels: common

#943 Add more namespaced backup items
  reference-architecture/day2ops/scripts/backup_master_node.sh
  reference-architecture/day2ops/scripts/project_export.sh
  reference-architecture/day2ops/scripts/project_import.sh
Labels: day2ops

#939 Changes needed to deploy this osp-dns in our environment.
  reference-architecture/osp-dns/ansible/templates/named.conf.j2
  reference-architecture/osp-dns/deploy-dns.yaml
  reference-architecture/osp-dns/vars.sample.yaml
Labels: osp

#952 Reworked deploy-host role to work on CentOS hosts
  roles/deploy-host/tasks/main.yaml
Labels: aws, gcp, osp, rhv, vmware

#954 Fix import script project name & remove empty files
  reference-architecture/day2ops/scripts/project_export.sh
  reference-architecture/day2ops/scripts/project_import.sh
Labels: day2ops
